body {
  background-color: black;
  color: #5a3e2b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
  color: #000;
  background-color: rgb(55, 53, 53);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(138, 186, 174);
  border-radius: 15%;
}
